.album_cover{
    width: 25%;
    border: 20px solid gray;
}
.photo_list{
    width: 100%;
    max-height: 100px;
    padding: 10px;
}
.single_photo{
    width: 75%;
}
.col-md1, .col-md2, .col-md4{
    border:1px solid red;
} 
.basic_img{
    width: 100%;
}