<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="/css/stylish-portfolio.css" rel="stylesheet">

<dom-module id="my-app">
  <template>
    <!-- Navigation -->
   <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
     <i class="fa fa-bars"></i>
   </a>
   <nav id="sidebar-wrapper">
     <ul class="sidebar-nav">
       <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
         <i class="fa fa-times"></i>
       </a>
       <li class="sidebar-brand">
         <a class="js-scroll-trigger" href="#top">Opciones:</a>
       </li>
       <li>
         <a class="js-scroll-trigger" href="#top">Home</a>
       </li>
       <li>
         <a class="js-scroll-trigger" href="#about">CEO: Félix del Barrio</a>
       </li>
       <li>
         <a class="js-scroll-trigger" href="#services">Consultas frecuentes</a>
       </li>
       <li>
         <a class="js-scroll-trigger" href="#portfolio">Nuestros servicios</a>
       </li>
       <li>
         <a class="js-scroll-trigger" href="#contact" onclick=$( "#menu-close").click();>Localización</a>
       </li>
     </ul>
   </nav>

   <!-- Header -->
   <header class="header" id="top">
     <div class="text-vertical-center">
       <h1>Banca Agile</h1>
       <h3>Un nuevo tipo de banca en la nube</h3>
       <br>
       <a href="#about" class="btn btn-dark btn-lg js-scroll-trigger">Acerca de nuestros servicios...</a>
     </div>
   </header>

   <!-- About -->
   <section id="about" class="about">
     <div class="container text-center">
       <h2>Banca Agile es consecuencia del esfuerzo y dedicación que Felíx del Barrio ha realizado en la Tech University.</h2>
       <p class="lead">Puede acceder a más información, sobre Felix, en su perfil de
         <a target="_blank" href="https://es.linkedin.com/in/felixdelbarrio">Linkedin</a>.</p>
     </div>
     <!-- /.container -->
   </section>

   <!-- Services -->
   <section id="services" class="services bg-primary text-white">
     <div class="container">
       <div class="row text-center">
         <div class="col-lg-10 mx-auto">
           <h2>Consultas frecuentes de nuestros clientes:</h2>
           <hr class="small">
           <div class="row">
             <div class="col-md-3 col-sm-6">
               <div class="service-item">
                 <span class="fa-stack fa-4x">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                 </span>
                 <h4>
                   <strong>Instalaciones</strong>
                 </h4>
                 <p>Disponemos de terraza abierta para fumadores y amplio parking privado.</p>
                 <a href="../main/instalaciones.html" class="btn btn-light">Paseo virtual</a>
               </div>
             </div>
             <div class="col-md-3 col-sm-6">
               <div class="service-item">
                 <span class="fa-stack fa-4x">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-compass fa-stack-1x text-primary"></i>
                 </span>
                 <h4>
                   <strong>Como llegar a Banca Agile</strong>
                 </h4>
                 <p>A escasos minutos del metro y de la Ciudad BBVA.</p>
                 <a href="/main/localizacion.html" class="btn btn-light">Obtenga instrucciones</a>
               </div>
             </div>
             <div class="col-md-3 col-sm-6">
               <div class="service-item">
                 <span class="fa-stack fa-4x">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-flask fa-stack-1x text-primary"></i>
                 </span>
                 <h4>
                   <strong>grupos</strong>
                 </h4>
                 <p>Eventos .</p>
                 <a href="/main/menus.html" class="btn btn-light">Visite nuesta oferta</a>
               </div>
             </div>
             <div class="col-md-3 col-sm-6">
               <div class="service-item">
                 <span class="fa-stack fa-4x">
                   <i class="fa fa-circle fa-stack-2x"></i>
                   <i class="fa fa-shield fa-stack-1x text-primary"></i>
                 </span>
                 <h4>
                   <strong>Opiniones de nuestros clientes</strong>
                 </h4>
                 <p>Opiniones de los clientes.</p>
                 <a href="opiniones.html" class="btn btn-light">Opine y vea que opinan</a>
               </div>
             </div>
           </div>
           <!-- /.row (nested) -->
         </div>
         <!-- /.col-lg-10 -->
       </div>
       <!-- /.row -->
     </div>
     <!-- /.container -->
   </section>

   <!-- Callout -->
   <aside class="callout">
     <div class="text-vertical-center">
       <h1>Eventos de empresa</h1>
     </div>
   </aside>

   <!-- Portfolio -->
   <section id="portfolio" class="portfolio">
     <div class="container">
       <div class="row">
         <div class="col-lg-10 mx-auto text-center">
           <h2>Software utilizado en Banca Agile</h2>
           <hr class="small">
           <div class="row">
             <div class="col-md-6">
               <div class="portfolio-item">
                 <a href="#">
                   <img class="img-portfolio img-fluid" src="/pictures/API.png">
                 </a>
               </div>
             </div>
             <div class="col-md-6">
               <div class="portfolio-item">
                 <a href="#">
                   <img class="img-portfolio img-fluid" src="/pictures/HTML5_CSS_JavaScript.png">
                 </a>
               </div>
             </div>
             <div class="col-md-6">
               <div class="portfolio-item">
                 <a href="#">
                   <img class="img-portfolio img-fluid" src="/pictures/polymer_logo.png">
                 </a>
               </div>
             </div>
             <div class="col-md-6">
               <div class="portfolio-item">
                 <a href="#">
                   <img class="img-portfolio img-fluid" src="/pictures/mongoDB-PostgreSQL-.png">
                 </a>
               </div>
             </div>
           </div>
           <!-- /.row (nested) -->
           <a href="https://bitbucket.org/fdbc/proyectotechu" class="btn btn-dark">Consulte nuestros fuentes.</a>
         </div>
         <!-- /.col-lg-10 -->
       </div>
       <!-- /.row -->
     </div>
     <!-- /.container -->
   </section>

   <!-- Call to Action -->
   <aside class="call-to-action bg-primary text-white">
     <div class="container text-center">
       <h3>Otras opciones</h3>
       <a href="https://www.bbva.es/particulares/index.jsp"
          class="btn btn-lg btn-light"
          target="_blank">Otras bancas amigas</a>
       <a href="https://vimeo.com/user13099749"
          class="btn btn-lg btn-dark"
          target="_blank">Nuestro canal de Vimeo</a>
     </div>
   </aside>

   <!-- Map -->
   <section id="contact" class="map">
     <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3032.8080546720776!2d-3.632394849361914!3d40.52373347925152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422c4f2161f905%3A0xdf9832237bdcf24e!2sCampus+BBVA!5e0!3m2!1ses!2ses!4v1511017317393"></iframe>
     <br/>
     <small>
       <a href="https://www.google.es/maps/place/Campus+BBVA/@40.5237335,-3.6323948,17z/data=!3m1!4b1!4m5!3m4!1s0xd422c4f2161f905:0xdf9832237bdcf24e!8m2!3d40.5237335!4d-3.6302008?hl=es"></a>
     </small>
   </section>

   <!-- Footer -->
   <footer>
     <div class="container">
       <div class="row">
         <div class="col-lg-10 mx-auto text-center">
           <h4>
             <strong>BBVA Tech University</strong>
           </h4>
           <p>Paseo del Conde de los Gaitanes, 45-51
             <br>28109 Alcobendas, Madrid</p>
           <ul class="list-unstyled">
             <li>
               <i class="fa fa-phone fa-fw"></i>
               (+34) 91-747 75 34</li>
             <li>
               <i class="fa fa-envelope-o fa-fw"></i>
               <a href="mailto:BBVA@gmail.com">BBVA@gmail.com</a>
             </li>
           </ul>
           <br>
           <ul class="list-inline">
             <li class="list-inline-item">
               <a href="https://es-la.facebook.com/felix.del.barrio" target="_blank">
                 <i class="fa fa-facebook fa-fw fa-3x"></i>
               </a>
             </li>
             <li class="list-inline-item">
               <a href="https://twitter.com/futuatm" target="_blank">
                 <i class="fa fa-twitter fa-fw fa-3x"></i>
               </a>
             </li>
             <li class="list-inline-item">
               <a href="https://plus.google.com/u/0/+F%C3%A9lixDelBarrio" target="_blank">
                 <i class="fa fa-dribbble fa-fw fa-3x"></i>
               </a>
             </li>
           </ul>
           <hr class="small">
           <p class="text-muted">Copyright &copy; BBVA 2017</p>
         </div>
       </div>
     </div>
     <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
       <i class="fa fa-chevron-up fa-fw fa-1x"></i>
     </a>
   </footer>
  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/stylish-portfolio.js"></script>
</dom-module>
