<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="my-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <button type="button" class="btn btn-primary" name="button" onclick="obtenerClientes();">Obtener Clientes</button>
        <table id="t01" class="table table-striped col-lg-12 col-xs-12">
         <tr>
           <th>Nombre</th>
           <th>Company</th>
           <th>Country</th>
           <th>Flag</th>
         </tr>
         <tr>
           <td>Eve</td>
           <td>Jackson</td>
           <td>94</td>
           <td>94</td>
         </tr>
       </table>
      </div>
    </div>
  </template>
  <script>


    /**
     * @customElement
     * @polymer
     */
    class Visor extends Polymer.Element {
      static get is() { return 'my-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mymvisor'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
    }

    window.customElements.define(Visor.is, Visor);

  </script>
  <script src="/js/customview.js"></script>
</dom-module>
